:root{

    /* colors */
    --header-color: #2874f0;
    --color-white: white;
    --color-grey: grey;
    --color-black: black;
    --color-shadow: rgba(128, 128, 128, 0.644);

    /* border-radius */
    --border-radius: 2px;

    /* font size */

    --small-font: 12px;
    --default-font: 14px;
    --medium-font: 17px;
    --large-font: 20px;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10000;
    height: 60px;
    background-color: rgb(67 120 218);  
    text-decoration: none;      
}  
#myModal{
    z-index: 20000;
    top: 100px;
    left: 50px;
}
#myModal .btn-close{
    position: absolute;
    top: 0px;
    right: -35px;
    border: none;
    font-size: 1.5em;
    color: white;
}
.modal-content{
    width: 85%;
    height: 500px;
}
#myModal .row div{
    height: 500px;
}
#myModal .modal-body{
    padding: 0px;
}
#myModal .loginpading{
    padding: 66px;
}
.loginpng{
    margin-top: 120px;
}
#myModal .verysmall{
    font-size: xx-small;
    margin-top: 25px;
}
#myModal .grayfont{
    color: gray;
    margin-top: 10px;
    text-align: center;
}
.pass{
    margin-top: 20px;
}
#myModal .formlogin{
    width: 100%;
    height: 45px;
    margin-top: 30px;
    background-color: rgb(240, 148, 10);
    color: white;
}
#myModal .formotp{
    background-color: white;
    color: rgb(19, 92, 141);
    width: 100%;
    height: 45px;
}
#myModal .newlogin{
    margin-top: 60px;
    text-align: center;
}
#myModal input{
    border: none;
    border-radius: 0px;
}
#myModal input[type=text], #myModal input[type=password]{
    border-bottom: 1px solid gray;
    padding: 0px;
}
#myModal .forgot{
    float: right;
    position:absolute;
    top: 113px;
    right: 58px;
    
}
.expl{
    color: white;
}
.plus{
    color: yellow;
}
.explus{
    font-style: italic;
    font-size:0.7em ;
    padding-top: -5px;
}
.logo{
    height: 20px;
}
.login{
    color: #2874f0;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    border: 1px solid #dbdbdb;
}
.leftnav .nav{
    display: inline-flex;
    float: left;
}
.rightnav .nav{
    display: inline-flex;
    float: left;
}
.navheader{
    color: var(--color-white);
    padding-top: 10px;
    padding-left: 8%;
    padding-right: 8%;
} 
.leftnav, .rightnav .nav{
    text-decoration: none;
    list-style-type: none;
}
.rightnav  li a{
    font-weight: bold;
    padding: 12px 16px;
    position: relative;
}
.dropdown li a{
    color: var(--color-white);
}
.nav{
    display: flex;
}
.nav li{
    padding-left: 10px;
}
.nav li a{
    text-decoration: none;
    color: var(--color-white);
}
.nav li a:hover{
    background-color: transparent !important;
}
.nav li img{
    width: auto;
}
.nav li input{
    height: 35px;
    width: 450px;
    padding-left: 15px;
    font-size: 14px;
    border-color: white;
    border-radius: var(--border-radius);
    color: var(--color-grey);
}

.search { 
    position: relative; 
    margin-left: 10px;
    display: block;
    width: 450px;

}
.search input[type=text]{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.search input:focus{
    outline: none;
}
.searchform{
    height: 37px;
    background-color: white;
    padding-left: 0px;
} 
.search .fa-search {
    position: absolute;
    top: 10px;
    left: 92%;
    font-size: 17px;
    color: var(--header-color);
}
.searchbar {
    display: block;
    width: 450px;
}
button{
    border-radius: var(--border-radius);
    border: 0;
    color: var(--header-color) !important;
    background-color: var(--color-white);
    margin: 0;
    padding: 5px 45px;
    width: 100px;
}
div .btn{
    padding: 2px 5px;
}
.more{
    /* top: 8px; */
    float: right;
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--color-white);
    min-width: 220px;
    box-shadow: var(--color-grey) 0px 7px 15px 0px;
    border-radius: var(--border-radius);
    z-index: 1;
}
.dropdown-content:before,
.dropdown-content:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 95px;
    border: 11px solid transparent;
    border-bottom-color: var(--color-white);
}
.dropdown-content a{
    display: block;
    color: black !important;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal !important;
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid rgba(224, 224, 224, 0.562);
}
.dropdown{
    position: relative;
    float: left;
}
.dropdown-content{
    position:absolute;
    background-color: white;
    top: 45px;
    left: -35px;
}
.signup{
    padding: 18px 22px !important;
}
.signup b{
    color: var(--header-color);
    text-decoration: underline;
}
.fa-angle-up{
    visibility: visible;
    display: none;
}

.dropdown:hover .fa-angle-down{
    transform: rotateX(180deg);
}
.dropdown:hover .dropdown-content{
    display: block; 
}

/* icon colors */

.fa-bell{ color: var(--header-color); }
.fa-briefcase{ color: var(--header-color); }
.fa-question-circle{ color: var(--header-color); }
.fa-line-chart{ color: var(--header-color); }
.fa-download{ color: var(--header-color); }
.fa-user-circle-o{ color: var(--header-color); }
.fa-shopping-bag{ color: var(--header-color); }
.fa-heart{ color: var(--header-color); }
.fa-money{ color: var(--header-color); }
.fa-gift{ color: var(--header-color); }
.fa-caret-left{ color: var(--color-grey) !important; }
.fa-briefcase{ color: var(--header-color);}

/* secondary navbar */

.secondary-nav{
    width: 100%;
}
.nav-navbar{
    width: 100%;
}
.nav-navbar ul{
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    justify-content: space-evenly;
    background-color: var(--color-white);
    padding: 10px 16px;
    box-shadow: var(--color-grey) 0px 0px 2px 0px;
}
.nav-navbar ul li a{
    color: var(--color-black);
    text-decoration: none;
    font-size: var(--default-font);
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-navbar li{
    float: left;
    
}
   /* discription */

.discription{
    margin: 20px;
}
.discription .heading{
    font-weight: bold;
}
.discription a{
    color: blue;
    text-decoration: none;
}
.body_top .nav-navbar .img{
    height: 70px;
}
.body_top .nav-navbar i{
   color: #cecece ;
   font-size: 1 em;
   margin-left: 5px;
}
.body_top .nav-navbar .raw .heading{
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: bold;
}
.body_top .nav-navbar .raw .special:hover {
	color: rgb(0, 110, 255);   

}





footer{
    height: 332px;
    border: 1px;
    background-color: #172337;    
}
.body_top{
    height: 110px;
    border-bottom: 2px solid rgb(212, 211, 211) ;
    padding-top: 60px;
}
        
        
body{
    background-color: white;
    font-family: Roboto, Arial, sans-serif;
    max-width: 100%;
    overflow-x: hidden;

}
div.body{
    width: 100%;
    height: 1520px;
    padding: 0px;
    border: 0px solid rgb(240, 237, 237);
}
.main1{
    height: 280px;
    margin: 8px;
    border:1px solid rgb(212, 211, 211) ;
}
.main2{
    height: 340px;
    margin: 8px;
    border: 1px solid rgb(212, 211, 211);
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.1);
}
.main2 .row{
        height: 100%;
        margin: 0px;
}
.main2_top{
    height: 62px;
    border-bottom: 1px solid rgb(212, 211, 211) ;
    margin-bottom: 20px;
    padding: 15px;
}
.main2 .row > div{
    padding: 0px;
}
.viewallbutton{
    background-color: #2874f0;
    color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
}
.cbox{
    width: 100%;
    height: 253px;
            
}
.itemimg{
    height: 180px;
    text-align: center;
}
.itname{
    color: black;
    font-size: var(--small-font);
    text-align: center;
          
}
.price{
    color: green;
    font-size: var(--small-font);
    text-align: center;
      
}
.disc{
    color: grey;
    font-size: var(--small-font);
    text-align: center;

}
.acer{
    height: 87%;
    width: 253px;
    align-items: center;
}
.boult{
    height: 95%;
    width: 230px;
    align-items: center;
}
.main3{
    height: 260px;
    margin: 8px;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.1);
}
.main4{
    height: 340px;
    margin: 8px;
    border: 1px solid rgb(212, 211, 211);
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.1);
}
.main5{
    height: 260px;
    margin: 8px;
    border: 1px solid rgb(212, 211, 211);
}
.ccontrol{
    width: 3.5%;
    opacity: 1;
    height: 40%;
    margin-top: 85px;
    background-color: white;
}
.blk{
    color: black;
    font-size: 2em;

}
#demo .carousel-control-prev{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
}
#demo .carousel-control-next{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
}
.footertop{
    border-bottom:1px solid rgb(85, 85, 85);
}

.footertop > div .row > div .row > div{
    height: 278px;

}
.footertop .row > div .row > div > ul{
    box-shadow: none;
    background-color: #172337;
}
.foothead{
    color: rgb(100, 100, 100);
    padding-left: 42px;
    padding-top: 15px;
}
.foothead1{
    color: rgb(100, 100, 100);
    padding-top: 15px;
    
}
.footertop .row > div .row > div > ul > li > a{
    color: white;
    font-size: small;
}
.footertop p{
    color: white;
    font-size: small;
}
.footertop a:hover{
    text-decoration: underline ;
}
.footerbottom .row > div ul{
    box-shadow: none;
    background-color: #172337;
}
.footerbottom .row > div ul > li > a{
    color: white;
    font-size: xx-small;
    background-color: #172337;
}
.payment{
    padding-top: 20px;
    
}


